**/*.*ts
*.md
  !readme.md
  !changelog.md
.vscode/**
cache
client
server
scripts
wasi-modules
host.mjs
rolldown.config.mjs

# The node_modules are for dependencies, and for VS Code
# extensions shouldn't be ignored, but these are
# unnecessary
node_modules/@bytecodealliance/preview2-shim/{README.md,LICENSE}
