# Vendor stuff
**/node_modules/**/README.*
**/{thirdpartynotices,License}.txt
**/node_modules/**/{LICENSE,.github}
.travis.yml
# Project stuff
**/*.map
**/tsconfig.json
**/*.ts
.vscode/**
.gitignore
examples
CHANGELOG.md